[Unit]
Description=Data SemiCube Edge Daemon
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/home/pi/Projects/data-semi-cube/.env
ExecStart=/usr/bin/python /home/pi/Projects/data-semi-cube/src/edged.py

[Install]
WantedBy=multi-user.target
